/*
File:			custom.css
Description:	Custom styles for Thesis
More Info:		http://diythemes.com/thesis/rtfm/custom-css/
*/


/* *********************SITE*********************** */

/* ********************HEADER********************** */

/***Remove white space above header ***/
.custom #header {height:140px;}

/***Style custom  full width header***/
.custom #header_area {background:#600000;}
	.custom #header_area .page {background:transparent;}
		.custom #header {border-bottom:0;}


/* *******************NAV MENU********************* */

/***Style custom nav bar***/
.custom #nav_area {background:#000000; border-bottom:0px solid #D1D1D1; padding-top:0px;}
	.custom #nav_area .page {background:transparent;}
		.custom ul#tabs {border-bottom:0; border-color:#DBD4B7;}
			.custom ul#tabs li {border-color:#DBD4B7; background-color:#E6DEC0;}
			.custom ul#tabs li.current_page_item, .custom ul#tabs li.current-cat {background:#fff;}

/* ********************FOOTER********************** */

/***Style full width footer***/
.custom #footer_area {background: #888888; padding:0.2em; border-top:0px solid #000000;}
.custom #footer_area .page {background:transparent;}
.custom #footer {border-top:0;}

/***FOOTER widget ***/
.custom #footer_1 {text-align:left; color:#000000;}
	.custom #footer_1 ul.sidebar_list li.widget {width:30%; margin-right:2%; float:left;}
		.custom #footer_1 ul.sidebar_list li.widget h3 {background: #888888; color:#000000;}
		.custom #footer_1 ul.sidebar_list li.widget a {color:#600000; border-bottom:0;}
		.custom #footer_1 ul.sidebar_list li.widget a:hover {color:#600000;}
/***FOOTER END***/


.custom .teaser {
width: 100%;
margin-top: 2em;
padding-top: 2em;
border-top: 1px dotted #936940;
text-align: justify;
}
.custom .teasers_box {
padding-top: 0;
padding-bottom:0;
border-top: 0;
}


/***START CUSTOM SHARING BUTTONS***/

.social-single {
margin: 17px 0 0 0;
}

#twitterbutton, #sharebutton, #likebutton, #linkedinshare, #plusonebutton {
float: left;
display: block;
}

#twitterbutton {
margin-left:0px;
margin-top:0px;
margin-right: 0px;
}

#linkedinshare {
margin-left: 0px;
margin-top: 0px;
margin-bottom: 2px;
margin-right: 30px;
}

#likebutton {
margin-left: 0px;
margin-top: 1px;
margin-right: 0px;
}

#sharebutton {
margin-left: 30px;
margin-top:0px;
margin-right: 0px;
}

#plusonebutton {
margin-left: 30px;
margin-top: 1px;
}

/***END CUSTOM SHARING BUTTONS***/

/* ********************SIDEBARS********************** */

/* *** BEGIN CUSTOM SIDEBARS*** */
.custom #sidebars { border:none; }
.custom .sidebar h3{
	height:15px;
	background-color: #CFCFCF;
	font-weight:normal;
	font-size:12px;
	color:#000000; 
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px; 
	padding:7px 11px; 
	margin-top:4px; 
	letter-spacing:0px; 
	text-transform:uppercase;
}

/* *** END CUSTOM SIDEBARS*** */

/* ******** SIDEBARS ******* */

/* CUSTOMIZE FOOTER SIDEBARS */
.custom .sidebar_footer h3{background-color: #E6E6E6;
text-transform:uppercase;
-moz-border-radius: 4px;&nbsp;padding: 0.5em 0.5em 0.5em 0.5em; font-weight:bold; font-size:13px; color: #000000;}


/* ***Display single post share buttons in alignment*** */

.social-single {
margin: 17px 0 0 0;
}

#twitterbutton, #likebutton, #stumblebutton, #sharebutton, #sharethisbutton {
float: left;
display: block;
}

#twitterbutton {
margin-top:0px;
margin-left:-3px;
}

#likebutton {
margin-top:0px;
margin-left:-3px;
}

#sharebutton {
margin-left:0px;
margin-top:0px;
margin-right: 0px;
}

#stumblebutton {
margin-left: 20px;
margin-right: 20px;
margin-top: 1px;
}

#linkedinshare {
margin-left: 0px;
margin-top: 1px;
}

#sharethisbutton {
margin-left: 20px;
margin-top: 1px;
}

/* Similar Posts with Thumbnail and No Plugin */

.custom #related_posts ul {
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
}
 
.custom #related_posts li {
    float: left;
    list-style: none;
    margin: 0 0 0 20px;
}
 
.custom #related_posts li:first-child {
    margin-left: 3px;
    padding-left: 8px;
}
 
.custom #related_posts li a {
    border-bottom: medium none;
    display: block;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    text-decoration: none;
    width: 111px;
}
 
.custom #related_posts li a:hover {
        text-decoration:underline;
}
 
.custom #related_posts li a img {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #E1E1E0;
    height: 100px;
    padding: 4px;
}
 
.custom #related_posts li a img:hover {
    background: #DDD;
    border: 1px solid #CCC;
}
 
.custom #related_posts {
    height: 270px;
}